- @hide_menu = true

%section.hero.is-success.is-fullheight
  .hero-body
    .container
      %h1.title
        = title
      %p.block
        = description
      %p.block
        = link_to 'Back to the Rules', page_path('rules')