
%section.hero.is-success.is-fullheight-with-navbar
  .hero-body
    .container
      %h1.title
        = title
      %p.block
        = description
      %p.block
        = link_to 'Go Back', 'javascript:history.go(-1);'