:ruby
  title = 'Avoid Scripting'
  description = <<~DESC
    A scenario should only ever include one action - one When step. You should avoid having any
    more and be careful not to follow a When with an And (which is really just adding another When).
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}