
- content_for :title do
  Avoid Scripting
    
- content_for :description do
  %p.block
    A scenario should only ever include 
    %strong one 
    action - one When step. You should avoid having any
    more and be careful not to follow a When with an And (which is really just adding another When).
 
- content_for :bad_example do
  :preserve
    Feature: My feature
      As a Gherkin writer
      I want to write good Gherkin
      So my intent is clear
      
      Scenario: My Scenario
        When I write Gherkin
        And I use Chutney
        Then my Gherkin will be delicious

- content_for :good_example do
  :preserve
    Feature: My feature
      As a Gherkin writer
      I want to write good Gherkin
      So my intent is clear
      
      Scenario: My Scenario
        Given I have writen Gherkin
        When I use Chutney
        Then my Gherkin will be delicious
  
= render partial: 'pages/rules/layout'