- content_for :title do
  Bad Scenario Name
    
- content_for :description do
  %p.block
    You should avoid words like 'test' and 'check' in your scenario name because
    this rarely describes what a user is trying to do with your system so you should
    phrase your language in those terms. 
  %p.block
    The exception here is when you are being
    precise and trying to write something along the lines of 'When a patient submits
    their test sample' in which case you should disable this rule or use the 
    '@disableBadScenarioName' tag in this feature / scenario.

= render partial: 'pages/rules/layout'