- content_for :title do
  Empty Feature File
    
- content_for :description do
  %p.block
    The feature file is empty. You probably meant to write something here.

= render partial: 'pages/rules/layout'