:ruby
  title = 'Empty Feature File'
  description = <<~DESC
    The feature file is empty. You probably meant to write something here.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}