- content_for :title do
  File Name Differs from Feature Name
    
- content_for :description do
  %p.block
    The name of the feature file should be equivalent to the feature name. 
    Making the names the same makes it much easier to find features.
  %p.block
    = link_to page_path('/rules/invalid_file_name') do
      See also rule about file names.

= render partial: 'pages/rules/layout'