- content_for :title do
  Invalid File Name
    
- content_for :description do
  %p.block
    The name on the feature file should be all in lower case and separated with 
    underscores. 
  %p.block
    You should avoid using uppcase letters or spaces in the file name.

= render partial: 'pages/rules/layout'