:ruby
  title = 'Missing Verification'
  description = <<~DESC
    The verification or assertion step in Gherkin is the 'Then' step. It is at this point
    that you should be checking on the outcome of your action. All scenarios should have at
    least one 'Then' step.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}