:ruby
  title = 'Missing Feature Description'
  description = <<~DESC
    You should describe this feature, ideally by inserting a value statement in the form 
    'As a... I want... So that' because it provides a great deal of context about the business
    value.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}