:ruby
  title = 'Missing Feature Name'
  description = <<~DESC
    All features should have a name that succinctly describes it. For example, 
    'Feature: Customer email notifications'.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}