:ruby
  title = 'Missing Test Action'
  description = <<~DESC
    The action or doing step is the thing that is going to be happening in the scenario
    and Gherkin uses the 'When' keyword for it. All scenarios need exactly one When step.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}