:ruby
  title = 'Missing Scenario Name'
  description = <<~DESC
    All scenarios should have a name that succinctly describes it. For example, 
    'Scenario: Customer requests a callback'.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}