:ruby
  title = 'Missing Example Name'
  description = <<~DESC
    When you have more than one example table, you should give them a name
    so that it's clear how you have grouped them. You can name example tables
    like a feature or a scenario, e.g. 'Examples: of valid names'.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}