- content_for :title do
  Required Tags Start With...
    
- content_for :description do
  %p.block
    Some organisations want to enforce a naming convention on tags. This is off
    by default and disabled in Chutney Online.

= render partial: 'pages/rules/layout'