:ruby
  title = 'Required Tags Start With'
  description = <<~DESC
    Some organisations want to enforce a naming convention on tags. This is off
    by default and disabled in Chutney Online.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}