:ruby
  title = 'Same Tag For All Scenarios'
  description = <<~DESC
    If all scenarios have the same tag, make a feature-level tag instead.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}