- content_for :title do
  Scenario Names Match
    
- content_for :description do
  %p.block
    Some organisations enforce a naming convention on scenarios (linking to acceptance criteria,
    for example). This optional rule is disabled by default and in Chutney Online.

= render partial: 'pages/rules/layout'