:ruby
  title = 'Scenario Names Match'
  description = <<~DESC
    Some organisations enforce a naming convention on scenarios (linking to acceptance criteria,
    for example). This optional rule is disabled by default and in Chutney Online.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}