:ruby
  title = 'Tag Used Multiple Times'
  description = <<~DESC
    High usage of a particular tag might be hiding behaviour.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}