- content_for :title do
  Too Long a Step
    
- content_for :description do
  %p.block
    Very long steps are hard to read. Consider writing it more concisely.

= render partial: 'pages/rules/layout'