:ruby
  title = 'Too Long a Step'
  description = <<~DESC
    Very long steps are hard to read. Consider writing it more concisely.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}