:ruby
  title = 'Too Many Steps'
  description = <<~DESC
    Scenarios should be short and descriptive. If there are a lot of steps, they should be condensed
    into one descriptive step of the behaviour wanted.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}