- content_for :title do
  Too Many Tags
    
- content_for :description do
  %p.block
    If you have lots of tags, the feature turns into tag-soup and becomes hard to read. Be wary of
    hiding behaviour behind tags.

= render partial: 'pages/rules/layout'