- content_for :title do
  Too Clumsy
    
- content_for :description do
  %p.block
    Very long scenarios are hard to read. Consider writing it more concisely.

= render partial: 'pages/rules/layout'