- content_for :title do
  Unique Scenario Names
    
- content_for :description do
  %p.block
    Scenario names should be unique with a feature. Avoid duplicating them, it makes it
    harder to understand the intention and purpose of them.

= render partial: 'pages/rules/layout'