- content_for :title do
  Use Outline
    
- content_for :description do
  %p.block
    Scenarios which are very similar should be coalesced in to one using a Scenario 
    Outline and one or more example tables.

= render partial: 'pages/rules/layout'