:ruby
  title = 'Use Outline'
  description = <<~DESC
    Scenarios which are very similar should be coalesced in to one using a Scenario 
    Outline and one or more example tables.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}