:ruby
  title = 'Use Background'
  description = <<~DESC
    If all your scenarios use the same Given set up steps, you should move these
    to a Background step instead.
  DESC

= render partial: 'pages/rules/layout', locals: { title: title,
                                                  description: description}