
$body-background-color-x: #6ed27b;

@import '~bulma';

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.is-pickle {
  background-color: #6ed27b;
}

.is-pickle .is-primary {
  background-color: #16551e;
}

.feature {
  white-space: pre;
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
  min-height: 30em !important;
  
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 12px;
  
  -moz-tab-size : 2;
  -o-tab-size : 2;
  tab-size : 2;
}

#result table td {
  border-color: hsl(0, 0%, 48%)
}